<div style="margin-top: 20px;">
    <mat-card style="width: 40%; margin: auto;">
        <mat-card-header>
            <mat-card-title>Register</mat-card-title>
            <mat-card-subtitle>Hi, Welcome to Blog App</mat-card-subtitle>
        </mat-card-header>
        <form [formGroup]="userForm" (ngSubmit)="saveUser()">
            <!-- first Name -->
            <mat-form-field appearance="standard" style="width: 100%;">
                <label>First Name</label>
                <input matInput style="padding: 10px 0;" formControlName="firstname"
                        type="text"
                        required
                        placeholder="First Name">
            </mat-form-field>
            <!-- last Name -->
            <mat-form-field appearance="standard" style="width: 100%;">
                <label>Last Name</label>
                <input matInput style="padding: 10px 0;" formControlName="lastname"
                        type="text"
                        required
                        placeholder="Last Name">
            </mat-form-field>
            <!-- Email -->
            <mat-form-field appearance="standard" style="width: 100%;">
                <label>Email</label>
                <input matInput style="padding: 10px 0;" formControlName="email"
                        type="text"
                        required
                        placeholder="Email">
            </mat-form-field>
            <!-- Password -->
            <mat-form-field appearance="standard" style="width: 100%;">
                <label>Password</label>
                <input matInput style="padding: 10px 0;" formControlName="password"
                        type="password"
                        required
                        placeholder="Password">
            </mat-form-field>
            <!-- Birth Date -->
            <mat-form-field appearance="standard" style="width: 100%;">
                <label>Bith Date</label>
                <input matInput formControlName="birthdate"
                        [matDatepicker]="datePickerRef"
                        placeholder="">
                <mat-datepicker-toggle matSuffix [for]="datePickerRef">
                </mat-datepicker-toggle >
                <mat-datepicker #datePickerRef style="padding: 10px 0;"></mat-datepicker>
            </mat-form-field>
            <!-- Role -->
            <mat-form-field appearance="standard" style="width: 100%;">
                <label>Role</label>
                <mat-select formControlName="role"  placeholder="Select Role" style="padding: 10px 0;">
                    <mat-option value="">Please Select</mat-option>
                    <mat-option value="user">User</mat-option>
                    <mat-option value="admin">Admin</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-card-actions align="start">
                <button mat-button [disabled]="!userForm.valid" type="submit" color="primary">Save</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>
